<!doctype html>
<html>
<head>
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" />
  <title>Catalog App</title>
</head>
<body>
  <header>
    this is the header
  </header>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <%= yield %>
  <footer>
    this is the footer part
  </footer>
</body>
</html>
